@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

.el-breadcrumb__inner a {
  color: $commonTxtColor;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

// common
.fcenter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.white-line {
  width: 100%;
  border-bottom: 1px solid #ffffff;
  padding-top: 20px;
}
.padding10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.transparent {
  background-color: transparent !important;
}
.active-color-red {
  color: $activeTxtRedColor;
}
.container-box {
  width: 100%;
  overflow: hidden;
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: $commonBgcolor;
}
.txt-container-box {
  width: 100%;
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
}
.space-between {
  justify-content: space-between;
}
.flex-end {
  justify-content: flex-end;
}
.flex-start {
  justify-content: flex-start;
}
.flex-column {
  flex-direction: column;
}
.inline-container-box {
  width: 100%;
  margin-top: 10px;
  overflow: hidden;
}
.inline-container {
  height: 300px;
  padding: 10px;
  background-color: $commonBgcolor;
}
.container-title, .inline-container-name, .txt-select-color {
  color: $txtScolor;
}
.inline-container-name {
  padding-bottom: 10px;
}
.el-icon-btn {
  font-size: 20px;
  font-weight: bold;
  padding-left: 5px;
  cursor: pointer;
  &:hover{
    color: #ffffff;
  }
}
.icon-remove-btn {
  font-weight: bold;
  font-size: 28px;
  color: $btnBgColor;
  &:hover {
    color: #409EFF;
  }
}
.el-table {
  color: #ffffff;
  .even-row {
    background: $conBgColor;
    td {
      text-align: center;
    }
    &.hover-row {
      td {
        background: $conBgColor !important;
      }
    }
  }
  .odd-row {
    background: $commonBgcolor;
    text-align: center;
    td {
      text-align: center;
    }
    &.hover-row {
      td {
        background: $commonBgcolor !important;
      }
    }
  }
  tr.table-row-class-name {
    th {
      background: $tableHeaderRowBgColor;
      color: #ffffff;
      text-align: center;
    }
  }
}

.inline-container {
  .el-table {
    color: $commonTxtColor;
    .even-row {
      background: $conBgColor;
      td {
        text-align: center;
      }
      &.hover-row {
        td {
          background: $conBgColor !important;
        }
      }
    }
    .odd-row {
      background: $commonBgcolor;
      text-align: center;
      td {
        text-align: center;
      }
      &.hover-row {
        td {
          background: $commonBgcolor !important;
        }
      }
    }
    tr.table-row-class-name {
      th {
        background: $tableHeaderRowBgColor;
        color: $commonTxtColor;
        text-align: center;
      }
    }
  }
}

.scrollbar-wrapper, .el-scrollbar__wrap {
  background-color: rgb(25, 31, 43);
}

.el-table td, .el-table th.is-leaf, .el-table--border, .el-table--group, .el-table--border td, .el-table--border th, .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed {
  border-color: $lineColor;
}

.el-table--border::after, .el-table--group::after, .el-table::before {
  background-color: transparent;
}
.el-dialog__header {
  background-color: $dialogTopBgColor;
  .el-dialog__title {
    color: $btnTxtColor;
  }
}
.el-dialog__headerbtn .el-dialog__close {
  color: $btnTxtColor;
  font-size: 24px;
}
.el-dialog__body, .el-table__body-wrapper {
  background-color: $commonBgcolor;
}
.el-form-item__label, .el-time-panel__btn, .el-time-spinner__item.active:not(.disabled) {
  color: $btnTxtColor;
}
.container-box, .inline-container {
  .el-form-item__label, .el-time-panel__btn, .el-time-spinner__item.active:not(.disabled) {
    color: $commonTxtColor;
  }
}
.el-tabs__item {
  color: $commonTxtColor;
}
.el-tabs__nav-wrap::after {
  background-color: $commonBgcolor;
}
.el-input__inner, .el-textarea__inner, .el-range-editor .el-range-input, .el-picker-panel, .el-picker-panel__footer, .el-time-panel__footer {
  background-color: $conBgColor;
  color: $formInputColor;
}
.el-select-dropdown__item, .el-scrollbar {
  background-color: $conBgColor;
}
.el-select-dropdown__item.hover, .el-select-dropdown__item:hover {
  background-color: $commonBgcolor;
  color: $formInputColor;
}

.table-overflow-visible {
  cursor: pointer;
  .el-input__inner, .el-select-dropdown, .el-select:hover .el-input__inner, .el-select .el-input.is-focus .el-input__inner {
    border-color: transparent;
    background-color: inherit;
  }
  .el-input__inner {
    padding-left: 5px;
  }
}


.el-carousel__item h3 {
  color: #475669;
  font-size: 14px;
  opacity: 0.75;
  line-height: 200px;
  margin: 0;
}

.el-carousel__item, .el-carousel__mask {
  background-color: $commonBgcolor;
  opacity: 0.3;
  &.is-active {
    opacity: 1;
  }
}

// .el-carousel__item:nth-child(2n) {
//   background-color: #99a9bf;
// }

// .el-carousel__item:nth-child(2n+1) {
//   background-color: #d3dce6;
// }
