@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

.el-breadcrumb__inner a {
  color: $commonTxtColor;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

// common
.fcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.padding10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.el-table {
  color: #ffffff;
  .even-row {
    background: $conBgColor;
    td {
      text-align: center;
    }
    &.hover-row {
      td {
        background: $conBgColor !important;
      }
    }
  }
  .odd-row {
    background: $commonBgcolor;
    text-align: center;
    td {
      text-align: center;
    }
    &.hover-row {
      td {
        background: $commonBgcolor !important;
      }
    }
  }
  tr.table-row-class-name {
    th {
      background: $tableHeaderRowBgColor;
      color: #ffffff;
      text-align: center;
    }
  }
}

.el-table td, .el-table th.is-leaf, .el-table--border, .el-table--group, .el-table--border td, .el-table--border th, .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed {
  border-color: $lineColor;
}

.el-table--border::after, .el-table--group::after, .el-table::before {
  background-color: transparent;
}
