// reset css
$commonBgcolor:#2b3648;
$commonTxtColor:#a3afbb;
$btnBgColor: #7f50d4;
$btnTxtColor: #ffffff;
$txtScolor: #5dc280;
$conBgColor: #222a37;
$lineColor: #4c505b;
$tableHeaderRowBgColor: #252642;
$dialogTopBgColor: #7f50d4;
$formInputColor: #aba9ac;
$activeTxtRedColor: #bd5f31;
// sidebar
$menuText:#828c96;
$menuActiveText:#fefffd;
$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#191f2b;
$menuHover:#263445;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
